        <!---Clients-->
        <section id="clients" class="scrollto clearfix">
          <div class="row clearfix">

              <div class="col-3">

                  <div class="section-heading">
                      <h3>Confiance</h3>
                      <h2 class="section-title">Confiez l’organisation de votre mariage
                        à de véritables professionnelles</h2>
                      <p class="section-subtitle">Depuis 12 ans, Nous nous transformons en chef d’orchestre pour organiser votre mariage. Grâce à nos expériences et à nos réseaux de professionnels, nous prenons en charge la gestion des missions que vous nous confiez, de la conception à l’organisation en passant par la coordination du jour J. Notre métier : exaucer vos vœux, mettre en scène vos rêves, vous faire bénéficier d’un gain de temps précieux que seul un professionnel sait faire avec précision, originalité et dynamisme. Et comme chaque mariage est unique, nous proposons différentes prestations, pour s’adapter au mieux à vos besoins et imaginer une prestation sur mesure.</p>
                  </div>

              </div>

              <div class="col-2-3">

                  <a href="#" class="col-3">
                      <img src="assets/images/company-images/photographeur-logo-1.jpg" alt="Company"/>
                      <div class="client-overlay"><span>Photographeur</span></div>
                  </a>
                  <a href="#" class="col-3">
                      <img src="assets/images/company-images/voiture-logo-2.jpg" alt="Company"/>
                      <div class="client-overlay"><span>Voiture</span></div>
                  </a>
                  <a routerLink="/All-salles" class="col-3">
                      <img src="assets/images/company-images/salle-logo-3.jpg" alt="Company"/>
                      <div class="client-overlay"><span>Nos Salles</span></div>
                  </a>
                  <a href="#" class="col-3">
                      <img src="assets/images/company-images/fleur-logo-4.jpg" alt="Company"/>
                      <div class="client-overlay"><span>Fleur de Mariage</span></div>
                  </a>
                  <a href="#" class="col-3">
                      <img src="assets/images/company-images/faire-part-logo-5.jpg" alt="Company"/>
                      <div class="client-overlay"><span>Faire Part</span></div>
                  </a>
                  <a href="#" class="col-3">
                      <img src="assets/images/company-images/traiteur-logo-6.jpg" alt="Company"/>
                      <div class="client-overlay"><span>Traiteur</span></div>
                  </a>
                  <a href="#" class="col-3">
                      <img src="assets/images/company-images/lune-de-miel-logo-7.jpg" alt="Company"/>
                      <div class="client-overlay"><span>Lune de Miel</span></div>
                  </a>
                  <a href="#" class="col-3">
                      <img src="assets/images/company-images/enterment-fille-logo-8.jpg" alt="Company"/>
                      <div class="client-overlay"><span>Enterment la Vie Jeune Fille</span></div>
                  </a>

                  <a href="#" class="col-3">
                      <img src="assets/images/company-images/enterment-garcon-logo-9.jpg" alt="Company"/>
                      <div class="client-overlay"><span>Enterment la Vie Jeune Garçon</span></div>
                  </a>

              </div>

          </div>
      </section>
      <!--End of Clients-->
