 <!---Content Section-->
 <div id="services" class="scrollto clearfix">

  <div class="row no-padding-bottom clearfix">


      <!--Content Left Side-->
      <div class="col-3">
          <!--User Testimonial-->
          <blockquote class="testimonial text-right bigtest">
              <q>We wanted to thank you all for the love and support we received from every single one of you on one the most beautiful day of our lives. it’s been a journey of love , fun and a lot of emotions. We are finally back home from our honeymoon, a wonderful honeymoon i have to say !!! Words can not express how grateful we are for all these memory that we will forever cherish!!!! 
                  thank you for being part of our journey it wouldn’t have been the same without you guys!!!! To us family is everything!!! we love you all!!!!! a special thank you for making our vision come to life, you pulled it off!!!</q>
              <footer>—CEDRIQUE & KENETH</footer>
          </blockquote>
          <!-- End of Testimonial-->

      </div>
      <!--End Content Left Side-->

      <!--Content of the Right Side-->
      <div class="col-3">
          <div class="section-heading">
              <h3>BELIEVING</h3>
              <h2 class="section-title">À propos de Nous</h2>
              <p class="section-subtitle">Depuis sa création, en 2019, MY DREAM DAY est une agence spécialisée dans la conception et l’organisation de mariages d’exception. Grâce à sa capacité de créer
                   et d’organiser de jolis mariages, festifs et beaux comme tout, My dream day a acquis une belle renommée et une sérieuse réputation parmi ses pairs et ses partenaires.</p>
          </div>
          <p><strong>Chaque couple que nous accompagnons est unique</strong>. Notre but est de comprendre avec soin votre histoire, vos attentes et la vision que vous avez de cette journée si
             particulière. Ainsi, nous pourrons vous guider de la manière la plus attentive &amp; attentionnée et faire de cette vision unique une réalité.
          </p>
          <p>
                Nous nous engageons pour chacun d’entre vous à mettre en œuvre toute notre expérience</strong>, notre savoir-faire et notre créativité au service de votre mariage.
                 A faire de votre joli Jour, un moment unique et inoubliable, à votre image, tout en vous faisant bénéficier d’un gain de temps précieux, que seul un professionnel de l’événementiel sait faire avec précision, originalité et dynamisme.
          </p>
          <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
          <a href="#" data-videoid="UYJ5IjBRlW8" data-videosite="youtube" class="button video link-lightbox">
              WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
          </a>
      </div>
      <!--End Content Right Side-->

      <div class="col-3">
          <img src="assets/images/mariage.jpg" alt="une belle photo de mariage"/>
      </div>

  </div>


</div>
<!--End of Content Section-->
