<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <!---Banner Content-->
  <div id="banner-content" class="row clearfix">

      <div class="col-38">

          <div class="section-heading">
              <h1>MY DREAM DAY</h1>
              <h2> MY DREAM DAY est une équipe de wedding planner et de prestataires passionnés par leur travail, fidèles et à votre écoute pour satisfaire vos envies des plus simples aux plus étonnantes.
                   Des conseils, des sourires, les meilleurs prestataires, des idées originales, un brin de folie et une organisation sans stress, voilà ce que nous aimons vous apporter.</h2>
          </div>

          <!--Call to Action-->
          <a href="#" class="button">START WITH US</a>
          <!--End Call to Action-->

      </div>

  </div><!--End of Row-->
</header>
